*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  height: 534px;
  column-gap: 30px;
}

.result__video-container {
  position: relative;
  width: 711px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  overflow: hidden;
}

.search-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  flex-flow: row nowrap;
  width: fit-content;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label-text:hover {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 15px;
}

.search-form__pseudo-checkbox {
  height: 20px;
  width: 20px;
  border: 1px solid #fff;
  margin-right: 5px;
  cursor: pointer;
}

input[type="checkbox"]:checked + span::before {
  content: "";
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  height: 16px;
  width: 16px;
  background-color: #fff;
}

.search-form__textfield {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  width: 225px;
  cursor: pointer;
}

.search-form__textfield:focus {
  outline: none;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.button {
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  background-color: transparent;
  border: 1px solid #fff;
  text-align: center;
  height: 34px;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
  text-decoration: none;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.more-button {
  width: calc(100% - 4px);
  margin: 2px;
}

.more-button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__details {
  height: 534px;
  overflow-y: scroll;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
}

.content__list-item:not(:nth-last-child(1)) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration-line: none;
  color: #fff;
  margin: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card:hover {
  cursor: pointer;
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.content__video-card:focus {
  outline: none;
}

.content__video-card:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 0px;
  padding-left: 2px;
  padding-top: 2px;
  padding-bottom: 6px;
}

.content__video-card-description {
  font-weight: 400;
  line-height: 16.2px;
  text-align: left;
  letter-spacing: 0px;
  padding-left: 2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  overflow: hidden;
}

.content__video-card-description-container {
  width: auto;
}
